<app-titulo></app-titulo>
<hr />
<div class="row row-cols-lg-auto g-3 align-items-center">
  <div>
    <label><b>Filtro:</b></label>
  </div>
  <div>
    <label class="visually-hidden" for="inlineFormInputGroupUsername"
      >Filtro</label
    >

    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="buscar"
        [(ngModel)]="filtroLista"
      />
    </div>
  </div>
</div>

<br />

<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>
        <button class="btn btn-outline-light btn-sm" (click)="alterImage()">
          <i class="{{ !exibirImagem ? 'fa fa-eye' : 'fa fa-eye-slash' }}"></i>
          {{ !exibirImagem ? "Exibir" : "Ocultar" }}
        </button>
      </th>
      <th class="text-center" scope="col">#</th>
      <th class="text-center" scope="col">Tema</th>
      <th class="text-center" scope="col">Local</th>
      <th class="text-center" scope="col">Data</th>
      <th class="text-center" scope="col">Qtd Pessoas</th>
      <th class="text-center" scope="col">Lote</th>
      <th class="text-center" scope="col">Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img
          [collapse]="!exibirImagem"
          [isAnimated]="true"
          src="/assets/{{ evento.imagemUrl }}"
          [style.width.px]="larguraImagem"
          [style.margin.px]="margemImagem"
        />
      </td>
      <th class="text-center">{{ evento.id }}</th>
      <td class="text-center">{{ evento.tema }}</td>
      <td class="text-center">{{ evento.local }}</td>
      <td class="text-center">{{ evento.dataEvento | DateTimeFormatPipe }}</td>
      <td class="text-center">{{ evento.qtdPessoas }}</td>
      <td class="text-center">{{ evento.lotes[0].nome }}</td>
      <td class="text-center">
        <button
          type="button"
          class="btn btn-outline-primary btn-sm me-2"
          data-bs-toggle="tooltip" title="Editar"
        >
          <i class="fa fa-edit"></i>
        </button>
        <button
          type="button"
          class="btn btn-outline-danger btn-sm"
          data-bs-toggle="tooltip" title="Excluir" (click)="openModal(template)"
        >
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum Evento Encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que quer deletar este evento?</p>
    <button type="button" class="btn btn-outline-danger" (click)="confirm()" >Sim</button> &nbsp; 
    <button type="button" class="btn btn-outline-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>