label{
    margin-bottom: 5px;
}

.row{
    margin-bottom: 10px;    
}

img{
    margin-bottom: 15px;
}

.card-header, .card-footer{
    padding: 10px;
}

.ng-star-inserted {
  color: #323232;
}

.border-right {
    border-right: 2px solid #dee2e6; /* Adjust the color as needed */
  }

