<div class="row" id="bodyForm">
  <div class="col-md-6 d-none d-md-block" style="height: 450px">
    <div class="text-center col-md-12 my-auto side-heder">
      <h1>Cadastro de Usuário</h1>
      <img
        src="../../../../assets/registerImage.png"
        class="my-4"
        alt=""
        width="400px"
      />
    </div>
  </div>

  <div class="col-md-6">
    <form [formGroup]="form" class="p-1" (ngSubmit)="register()">
      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">Cadastro de Usuário</h3>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <label>Nome</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="{
              'is-invalid': f.nome?.errors && f.nome?.touched
            }"
            formControlName="nome"
            placeholder="Insira o nome"
          />
          <div class="invalid-feedback">Campo Nome é obrigatório</div>
        </div>
        <div class="col-sm-6">
          <label>Sobrenome</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="{
              'is-invalid': f.sobrenome?.errors && f.sobrenome?.touched
            }"
            formControlName="sobrenome"
            placeholder="Insira o sobrenome"
          />
          <div class="invalid-feedback">Campo Sobrenome é obrigatório</div>
        </div>
      </div>
      <div id="emailUsuario">
        <label for="">Email:</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="{
            'is-invalid': f.email?.errors && f.email?.touched
          }"
          formControlName="email"
          placeholder="Insira o email"
        />
        <div *ngIf="f.email?.hasError('required')" class="invalid-feedback">
          Campo E-mail é obrigatório
        </div>
        <div *ngIf="f.email?.hasError('email')" class="invalid-feedback">
          Informe um E-mail válido.
        </div>
      </div>
      <div id="emailUsuario">
        <label for="">Usuário:</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="{
            'is-invalid': f.username?.errors && f.username?.touched
          }"
          formControlName="username"
          autocomplete="username"
          placeholder="Insira o Usuário"
        />
        <div class="invalid-feedback">Campo Usuário é obrigatório</div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <label for="">Senha:</label>
          <input
            type="password"
            class="form-control"
            [ngClass]="{
              'is-invalid': f.password?.errors && f.password?.touched
            }"
            formControlName="password"
            autocomplete="new-password"
            placeholder="Digite uma Senha"
          />
          <div *ngIf="f.password?.hasError('required')" class="invalid-feedback">
            Campo Senha é obrigatório
          </div>
          <div *ngIf="f.password?.hasError('minlength')" class="invalid-feedback">
            Campo Senha deve ter no mínimo 6 caracteres.
          </div>
        </div>
        <div class="col-sm-6">
          <label for="">Confirmar Senha:</label>
          <input
            type="password"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                f.confirmarPassword?.errors && f.confirmarPassword?.touched
            }"
            formControlName="confirmarPassword"
            autocomplete="new-password"
            placeholder="Confirme a Senha"
          />
          <div
            *ngIf="f.confirmarPassword?.hasError('required')"
            class="invalid-feedback"
          >
            Campo Confirmar Password é obrigatório
          </div>
          <div
          *ngIf="f.confirmarPassword?.hasError('MustMatch')"
            class="invalid-feedback"
          >
            Confirmação de password divergente.
          </div>
        </div>
      </div>
      <div class="row p-1">
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            [ngClass]="{
              'is-invalid': f.termos?.errors && f.termos?.touched
            }"
            formControlName="termos"
            id="customCheck1"
          />

          <label class="custom-control-label"
            >Eu concordo com os <a href="#">Termos de Uso</a>.</label
          >
          <div class="invalid-feedback">Campo Termos de Uso é obrigatório</div>
        </div>
      </div>
      <div class="row p-1">
        <div class="col-12">
          <button
            type="submit"
            class="btnEntrar col-12"
            [disabled]="!form.valid"
          >
            <!-- <span class="spinner-border spinner-border-sm"></span> -->
            Registrar
          </button>
        </div>
        <div class="row p-auto">
          <a
            id="jaCadastrado"
            class="underlineHover"
            routerLink="/usuario/login"
          >
            Já sou Cadastrado
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
