<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <i class="fa fa-users mb-1"></i>
    </div>

    <!-- Login Form -->
    <form>
      <input
        type="text"
        id="login"
        class="fadeIn second"
        name="login"
        placeholder="Usuário"
      />
      <input
        type="password"
        id="password"
        class="fadeIn third"
        placeholder="Senha"
        name="password"
        required
      />
      <input type="submit" class="fadeIn third" value="Entrar" />
      <p class="mt-4 mb-2 text-muted fadeIn third">
        Não tem login? Cadastre-se abaixo
      </p>
      <a
        class="btn btn-lg btn-link fadeIn third"
        routerLink="/usuario/registrar"
        >Quero me cadastrar</a
      >
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Esqueceu a Senha?</a>
    </div>
  </div>
</div>
