<div class="card-container">
  <div class="flex-container">
    <div class="flex-item">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Filtro:</div>
        </div>
        <input
          type="text"
          class="form-control"
          placeholder="Buscar por tema e Local"
          (input)="filtrarPalestrantes($event.target)"
        />
      </div>
    </div>
  </div>
  <div *ngIf="palestrantes && palestrantes.length">
    <div class="flex-container col-md-12">
      <div class="col-md-4 card-item" *ngFor="let palestrante of palestrantes">
        <div class="card">
          <div class="img-container">
            <img
              [src]="getImagemURL(palestrante.user.imagemUrl)"
              class="rounded-img"
              alt="Imagem do Palestrante"
              width="100"
              height="100"
            />
          </div>
          <div class="card-body">
            <div class="username">&#64;{{ palestrante.user.userName }}</div>
            <div class="name">
              <b>Nome:</b>
              {{ palestrante.user.nome + " " + palestrante.user.sobrenome }}
            </div>
            <div class="mini-curriculo">
              {{ palestrante.miniCurriculo }}
            </div>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col border-right">
                <div class="h5">0</div>
                <div class="text-muted">Meus Eventos Criados</div>
              </div>
              <div class="col">
                <div class="h5">0</div>
                <div class="text-muted">Eventos como Palestrante</div>
              </div>
            </div>          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
